@model List<lab15_maliarchuk.Models.Product>

<h1>Список продуктів</h1>
@if (Model?.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Ціна</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price.ToString("C")</td>
                    <td>
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Редагувати</a> |
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Видалити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Немає доступних продуктів для відображення.</p>
}
<a asp-controller="Product" asp-action="Create">Додати новий продукт</a>
